html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#main {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
#app {
  height: 100%;
  width: 100%;
} 

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
}
